<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Organigrama{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/libs/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/libs/bootstrap-table/dist/bootstrap-table.min.css') }}">
        {# Filtro columns de la tabla #}  
        <link rel="stylesheet" type="text/css" href="{{ asset('public/libs/bootstrap-table-filter/dist/bootstrap-table-filter.min.css') }}">

        {# Estilo del select2 #}  
        <link rel="stylesheet" type="text/css" href="{{ asset('public/libs/select2/dist/css/select2.min.css') }}">

        <link rel="stylesheet" href="{{ asset('public/libs/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/libs/orgchart/dist/css/jquery.orgchart.min.css') }}">


        {# Estilos propios del proyecto #}
        <link rel="stylesheet" href="{{ asset('public/css/main.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# Para mi reconocer la Routing.generate #}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {# Para traer la libreria Jquery#}
            <!-- <script src="{{ asset('public/libs/jquery/dist/jquery.min.js') }}"></script> -->
            <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

            {# Para traer la libreria de Boostrap #}
            <script src="{{ asset('public/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/libs/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
            {# Filtro columns de la tabla #}  
            <script src="{{ asset('public/libs/bootstrap-table-filter/dist/bootstrap-table-filter.min.js') }}"></script>

            {# plugin del select2 #}  
            <script src="{{ asset('public/libs/select2/dist/js/select2.min.js') }}"></script>

            {# Organigrama #}
            <script src="{{ asset('public/libs/orgchart/dist/js/jquery.orgchart.min.js') }}"></script> 

            
            {# js del proyecto #}
            <script src="{{ asset('public/js/main.min.js') }}"></script>

            {# exportar #}            
            <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script> -->
        {% endblock %}
    </body>
</html>
