/*!
* Este archivo es parte del proyecto app_organigrama
* 
* Este sistema esta encargado de crear organigramas basicos y personalizados y la gestion de ellos.
* 
* Replicando un organigrama que hice para apoyar en un proyecto a mi papá
* 
* @copyright Copyright (c);
* 
* @filesource
* 
* Hecho con <3 por Ing. Glendy Covarrubias
* 
* DEPENDENCIES:
* JQUERY
* Font Awesome
* 
* 
*/
.headere {
  outline: 1px solid red;
}

.nave {
  outline: 1px solid blue;
}

.sectionOrganigrama {
  padding-top: 0.5em;
}

.asidee {
  /*outline: 1px solid purple;*/
  padding-right: 0px;
  padding-left: 0.3em;
}

.encabezado {
  padding-bottom: 5px;
  margin: 40px 0 10px;
}

.sectione {
  /*outline: 1px solid lime;*/
  padding-right: 0.8em;
  padding-left: 0.8em;
}

.panelvistaOrg {
  margin-top: 3em;
}

/*Organigrama*/
#chart-container {
  height: 600px;
  border: 2px solid #aaa;
}

.orgchart {
  background: #fff;
}

/*Botonera*/
div#botonera {
  margin-left: 28%;
}
