{% extends 'base.html.twig' %}
{% block body %}
    <div id="contGralOrgLib" class="container-fluid">
        <div id="orgBP" class="row">
            <!-- Seccion de la lista Izquierda de los puestos -->
            <section id="sectionListPuestos" class="col-md-3">
                <!-- Para la lista -->
                <div id="container">
                    <div id="contenListDept">
                        <ul id="listDept">
                           <li>a</li>
                           <li>b</li>
                           <li>c</li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <!-- Seccion Botonera y contenedor del Organigrama -->
            <section id="sectionBotonera" class="col-md-9">
            	                <!-- contenedor para generar el organigrama -->
               <ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="#">Organigrama Libre</a></li>
				  <!-- <li role="presentation"><a href="#">Profile</a></li> -->
				  <!-- <li role="presentation"><a href="#">Messages</a></li> -->
				</ul>
                <!-- contenedor de la botonera (Botones) -->
                <div id="botonera" class="btn-group" role="group" aria-label="...">
                    <!-- Generar el Organigrama -->
                    <button type="button" class="btn btn-primary" id="btn-generarOrgL" data-toggle="tooltip" title="Generar Organigrama">
                        <i class="fa fa-sitemap" aria-hidden="true"></i> Generar Organigrama
                    </button>
					<!-- Guardar -->
                    <button type="button" class="btn btn-success" id="btn-guardarOrgL" data-toggle="tooltip" title="Guardar">
                        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Guardar
                    </button>
					<!-- Refrescar -->
                    <button type="button" class="btn btn-default" id="btn-refrescarOrgL" data-toggle="tooltip" title="Refrescar">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refrescar
                    </button>
                    <!-- Imprimir -->
                    <button type="button" class="btn btn-warning" id="btn-imprimirOrgL"  data-toggle="tooltip" title="Imprimir">
                        <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                    </button>
                </div>
                <!-- contenedor para generar el organigrama -->
                <!-- <div class="tab-content"> -->
                    <!-- Para el organigrama -->
                    <!-- <div id="contOrgLibre" class="row"></div> -->
                <!-- </div> -->
            </section>
        </div>
    </div>
{% endblock %}