{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid">
		{#<div class="row">
			<header class="headere">
				<nav class="nave">Menu principal</nav>
			</header>
		</div>#}
		<section class="row sectionOrganigrama">
			<!-- <aside class="col-xs-12 col-sm-6 col-md-2 asidee">
				<div class="page-header encabezado">
					<h3>Organigrama <small>¿Que organigrama deseas realizar?</small></h3>
				</div>
				<div class="list-group">
  					<a href="{{url('organigrama_libre')}}" class="list-group-item active">Organigrama libre</a>
  					<a href="#" class="list-group-item">Organigrama personalizado</a>
  					<a href="#" class="list-group-item">otro</a>
				</div>
			</aside> -->
			<!-- <section class="col-xs-12 col-sm-6 col-md-10 sectione"> -->
			<section class="col-xs-12 col-sm-12 col-md-12 sectione">
				<div class="panel panel-primary panelvistaOrg">
					<!-- Default panel contents -->
				  	<div class="panel-heading">Tabla de organigramas existentes</div>
						<div class="panel-body">
					    	<div class="table-responsive">
							 	<div id="toolbar" class="btn-group">
							 		<!-- <a href="{{url('organigrama_libre')}}" class="list-group-item active">Crear organigrama libre
							 		</a> -->
								   <!--  <button type="button" id="btn_OrgLib" class="btn btn-default active">
								    	Organigrama libre <i class="fa fa-sitemap" aria-hidden="true"></i>
								    </button> -->
								   
								    <button type="button" id="btnLibre" class="btn btn-default">
								        Crear organigrama libre <span><i class="fa fa-sitemap"></i></span>
								    </button>
								    <button type="button" id="btnPersonalizado" class="btn btn-default">
								        Crear organigrama personalizado <span><i class="fa fa-sitemap"></i></span>
								    </button>

<!-- 								    <button type="button" class="btn btn-default">
								    	<i class="fa fa-sitemap"></i>
								       <i class="glyphicon glyphicon-trash"></i>
								    </button> -->
								</div>
					<!-- 			<table data-toggle="table"
								       data-url=""
								       data-search="true"
								       data-filter-control="true"
								       data-click-to-select="true"
								       data-show-refresh="true"
								       data-show-toggle="true"
								       data-show-columns="true"
								       data-toolbar="#toolbar"
								       data-filter-control="true"
								       id = "tbOrganigrama"> -->
								<table id="tbOrganigrama" class="tabla" data-toggle="table" data-filter="true">
								    <thead>
								    <tr>
								        <th data-field="name">Nombre</th>
								        <th data-field="stargazers_count">Descripcion</th>
								        <th data-field="forks_count">Autor</th>
								        <th data-field="ItemStatus" data-sortable="true" data-align="left" data-filter-type="select" data-filter-data="var:ItemStatuses">Tipo</th>
								    </tr>
								    </thead>
								    <tbody>
								    	<tr>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>Personalizado</td>
								    	</tr>
								    	<tr>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>Libre</td>
								    	</tr>
								    	<tr>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>Personalizado</td>
								    	</tr>
								    	<tr>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>lalalalalalaa</td>
								    		<td>Libre</td>
								    	</tr>
								    </tbody>
								</table>
							</div>
						</div>
				</div>
			</section>
		</section>
	</div>
{% endblock %}
